<!doctype html>
<html lang="en-US">
  <head>
    <title>Todo App</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Sans">
    <link rel="stylesheet" href="/stylesheets/whitespace-reset.css">
    <link rel="stylesheet" href="/stylesheets/application.css">
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/application.js"></script>
  </head>
  <body>
    <header>
      <h1>Todo Tracker</h1>
      <div class="actions">
        <%== yield_content :header_links %>
      </div>
    </header>

    <% if failure? %>
      <div class="flash error">
        <p><%= delete_failure %></p>
      </div>
    <% end %>

    <% if success? %>
      <div class="flash success">
        <p><%= delete_success %></p>
      </div>
    <% end %>

    <main>
      <%== yield %>
    </main>
  </body>
</html>

